
$primary-color:#1890ff;
$info-color: #1890ff;
$success-color: #52c41a;
$processing-color: #1890ff;
$error-color: #f5222d;
$highlight-color: #f5222d;
$warning-color: #faad14;
$normal-color : #d9d9d9;


//font-color
$font-color-base: rgba(0, 0, 0, .65);
$font-color-secondary:rgba(0, 0, 0, .45);


//font-size

$font-size-base: 14px;