.houses {
  .operate {
    .dropdown {
      margin-left: 14px;
      .icon_down {
        margin-left: 8px;
        font-size: 16px;
        color: $primary-color;
      }
    }
  }
  .pagination {
    margin-top: 16px;
    text-align: right;
  }
}
.modal {
  text-align: center;
  .modal_content {
    text-align: center;
  }
  .title {
    color: $font-color-base;
    padding: 0 0 24px;
  }
  .input_url {
    margin-bottom: 24px;
  }
  .instructions {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    color: $font-color-base;
    background: #e4e4e4;
    .subtitle {
      text-align: center;
      padding: 10px 0 20px;
    }
  }
}